* {
  box-sizing: border-box;
}
/*Hide scrollbar*/
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}

/*Header*/
.header,
.blur {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-image: url(https://cdn.dribbble.com/users/31818/screenshots/2091618/dribbb.gif);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
}

.header-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: clamp(40px, 8vw, 56px);
  line-height: 130%;
  text-align: center;

  color: white;
}

.header-subtitle {
  font-weight: 700;
  font-size: clamp(10px, 3vw, 18px);
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
}

.header-arrow svg {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*Not working*/
/* .header-arrow a:focus-within {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
} */

/*Portfolio*/
.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
  background: whitesmoke;
}

.section-header {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: black;
}

.card-wrapper:nth-child(n + 3):nth-child(-n + 15) {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  max-width: 685px;
  background-color: #fff;
  box-shadow: 0px 10px 14px rgba(126, 155, 189, 0.35);
  border-radius: 10px;
  height: fit-content;
  flex-direction: column;
}

.card:nth-last-child(n + 2) {
  margin-bottom: 80px;
}

.card:first-child {
  margin-right: 15px;
}

.card-image {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 10px 14px rgba(126, 155, 189, 0.35);
  margin-right: 15px;
}

.card-content {
  flex: 1;
  padding: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: black;
}

.card-text {
  margin-inline: 16px;
  font-size: clamp(10px, 2.5vw, 18px);
  line-height: 130%;
  color: black;
  text-align: justify;
}

/*Footer*/

.footer {
  padding-top: 45px;
  padding-bottom: 20px;
  background: #1e4776;
  color: white;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  max-width: 350px;
  flex-grow: 1;
}

.footer-copyright {
  color: #7e9ec9;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}

.footer-coppyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  margin-top: 8px;
}

.footer-icons-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons-row > * + * {
  margin-left: 30px;
}
.footer-icons-row > * {
  filter: invert(60%) sepia(84%) saturate(179%) hue-rotate(174deg) brightness(88%) contrast(85%);
}

.footer-button,
.footer-button-media {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  border: 3px solid #ffffff;
  border-radius: 50px;

  color: white;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #1e4776;
  color: white;
}

.footer-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.footer-button::after {
  background-color: #fff;
}

.footer-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.footer-button-media {
  display: none;
}

.footer-contacts {
  display: flex;
  justify-content: center;
}
/*Подпись под связаться со мной*/
/* .footer-contacts p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #7e9ec9;
} */

/*Media requests*/
@media (max-width: 1069px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px !important;
    margin-top: 10px;
    width: min(90%, 718px);
    font-size: 14px;
  }

  .card-image {
    width: min(50vw, 500px);

    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-header {
    margin-bottom: 40px;
  }

  .footer-coppyright-name {
    font-size: clamp(15px, 2.5vw, 25px);
  }

  .footer-icons p {
    font-size: clamp(10px, 2vw, 18px);
    margin-top: 4px;
  }

  .footer-contacts a {
    font-size: clamp(7px, 1.5vw, 18px) !important;
  }

  .footer-icons-row img {
    width: 30px;
  }
}
@media (max-width: 533px) {
  .footer-button {
    display: none;
  }
  .footer-button-media {
    display: inline-block;
    border: 2px solid white;
  }

  .footer-icons-row img {
    width: 20px;
  }

  .section-header {
    font-size: 30px;
  }
  .footer-button-media {
    display: inline-block;
    height: 40px;
    width: 70px;
    padding-left: 11px;
    padding-right: 30px;
    border: 2px solid #ffffff;

    line-height: 35px;
  }
  .footer-copyright {
    width: 80px !important;
  }
}

@media (max-width: 408px) {
  .footer-copyright {
    width: 80px !important;
  }
   .footer-button-media {
    display: inline-block;
    height: 40px;
    width: 70px;
    padding-left: 11px;
    padding-right: 30px;
    border: 2px solid #ffffff;
margin-right: 15px;
    line-height: 35px;
  }
  .footer-copyright {
    width: 80px !important;
  }
}
